{% extends "admin_base.html"%}
{% block title %} eVoting System {% endblock %}
{% block content %}
    <body class="center">
        <ul>
            <h1>Hello</h1>
            <h2>Welcom to eVoting System</h2><br>
        </ul>
    </body>
{% endblock %}



{% block content1 %}
    <body class="center">
        <button type="button" onclick="alert('Hello World!')">Click Me!</button><br>
    </body>
{% endblock %}




{% block content2 %}
    <body class="center">
        <p style="color: blue;">Contact Us : XXXX-XXXX</p>
        <p>Email : admin@evoting.com</p>
        <p>Address : XXX, XXXXXXXXXX, Hong Kong</p>
    </body>
{% endblock %}