{% extends "admin_base.html"%}
{% block title %} eVoting System {% endblock %}

{% block hello %}
    <body class="center">
        <ul>
            <h1>Voting Page</h1>
        </ul>
    </body>
{% endblock %}

{% block newvoting %}
<div class="card-wrapper">
    <div class="card">
        <h1 class="center">{{votingInfo.votingname}}</h1><br>
        <h2 class="center">{{votingInfo.question}}</h2><br>
        <form method = "POST" action = "{{ url_for('voting') }}">
            
            
            {% for x in  votingInfo.option %}
                <input type="radio" id={{x}} name="choice" value={{x}}>
                <label for={{x}}>{{x}}</label><br>
            {% endfor %}
            <br>
            <input type="submit" value="Submit">
            
        </form>
        
    </div>
</div>
{% endblock %}


{% block contactcontent %}
    <body class="center">
        
        <p style="color: blue;">Contact Us : XXXX-XXXX</p>
        <p>Email : admin@evoting.com</p>
        <p>Address : XXX, XXXXXXXXXX, Hong Kong</p>
    </body>
{% endblock %}