{% extends "admin_base.html"%}
{% block title %} eVoting System {% endblock %}

{% block hello %}
    <body class="center">
        <ul>
            <h1>Voting Page</h1>
        </ul>
    </body>
{% endblock %}

{% block result %}
    <body class="center">
        <ul>
            <h1>Result</h1>
        </ul>
    </body>
{% endblock %}


{% block contactcontent %}
    <body class="center">
        
        <p style="color: blue;">Contact Us : XXXX-XXXX</p>
        <p>Email : admin@evoting.com</p>
        <p>Address : XXX, XXXXXXXXXX, Hong Kong</p>
    </body>
{% endblock %}